.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.main-footer{
	margin:0 auto;
	p.site-title{
		font-family: Lato BoldItalic;
		font-size: 42px;
		color: #4a569a;
		text-align: center;
	}
}
.menu-footer{
	display: flex;
	justify-content:space-between;
}
.site-main{
	>div{
		margin:0 auto;
	}
}
body{
	background-color: @color_background!important;
}
article{
	background: @color_bgcontent;
	margin-bottom: 50px;
}