.entry-header{
	iframe{
		width: 100%;
	}
}
a.more-link{
	float: left;
	font-family: Lato Bold;
	text-decoration: none;
	color:@color_hover;
	font-size: 20px;
}
.tags-links{
	float: right;
	color: #b2b2b2;
	a{
		color: #b2b2b2;
	}
}
.entry-title{
	font-family: Lato Bold;
}
.entry-content{
	margin:0;
}
.img-logo{
	height: 150px;
	width: auto;
}
.gallery{
	display: none;
}
//social-media-icons

ul.social-media-icons{
	list-style-type: none;
	margin:0;
	padding: 0;
	display: flex;
	justify-content:center;
	li{
		a{
			color: #ffffff;
			i{
				width: 35px;
				height: 35px;
				text-align: center;
				line-height: 35px;
				font-size: 25px;
			}
		}
	}
}